.trackName {
  width: 100%;
}
.serialNo {
  vertical-align: middle;
}
.List {
  margin: 2%;
}
.eachAudio {
  border-bottom: 0.1px solid grey;
  margin: 4px;
}
.artist {
  font-size: "10px";
}
.trackName {
  font-size: "12px";
}
